<nav class="subnav-fixed affix" role="navigation">
    <p> Search: <input type="search" ng-model="categoryfilter" placeholder="Category"></p>

    <div class="btn-group" ng-repeat="letter in alphabet" class="col-md-12">
        <label class="btn btn-primary" ng-model="radioModel"
               ng-click="showCategoriesWithLetter(letter)">{{letter}}</label>
    </div>
</nav>

<div id="categoryList">
    <accordion close-others="true">
        <accordion-group heading={{category}} ng-click="getTitlesForCategory(category)"
                         ng-repeat="category in filteredCategories | filter:categoryfilter">

            <table class="table">
                <thead>
                <tr>
                    <td><b>Titles</b></td>
                </tr>
                </thead>
                <tbody ng-repeat="title in titles">
                <tr>
                    <td>{{title.title}}</td>
                </tr>
                </tbody>
            </table>
        </accordion-group>
    </accordion>
</div>
<pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm"
            boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
<script>

</script>